@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: rgba(249, 249, 251, 255);
}
* a {
  color: black;
}

.Examcard {
  cursor: grab;
  overflow: hidden;
  margin: 0 19%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.inner-examcard{
  display: flex;
  gap: 20px;

}

.detailCard{
  display: flex;
}